{% extends 'register_form.html' %} {% block title %}Update Feedback{% endblock %}

{% block heading %}
  <h1>Update Feedback</h1>
{% endblock %} 

{% block content %} 
  {% if get_flashed_messages() %} 
    {% for msg in get_flashed_messages() %}
      <p>{{msg}}</p>
    {% endfor %}
  {% endif %}
  <form action="/feedback/{{feedback.id}}/update" method="post">
    {{form.hidden_tag()}} 
    {% for field in form if field.widget.input_type != 'hidden' %}
      <div>{{field.label}} {{field}}</div>
      {% for err in field.errors %}
        <p>{{err}}</p>
      {% endfor %} 
    {% endfor %}
    <button>Submit</button>
  </form>
{% endblock %}